*{
margin:0;
padding:0;
box-sizing*border-box;
font-family:-apple-sys*em,BlinkMacSystemFont,
"SF Pro Dis*lay",
sans-serif;
}

body{

height*100vh;

display:flex;
justify-cont*nt:center;
align-items:center;

ba*kground:
linear-gradient(
135deg,
*0f172a,
#1e293b,
#0f172a
);

}

.i*hone{

width:430px;
height:860px;
*background:black*

*order-radius:60px;

padding:20px;
*border:10px solid #101010;

overfl*w:hidden;

position:relative;

box*shadow:
0 30px 90px rgba(0,0,0,.5)*

}

.dynamic-island{

position:ab*olute;

top:10px;
left:50%;

trans*orm:translateX(-50%);

width:130px*
height:34px;

background:#111;

b*rder-radius:30px;

z-index:50;

}
*.statusbar{

display:flex;

justif*-content:space-between;

padding-t*p:20px;

margin-bottom:25px;

font*size:14px;

color:white;

}

.apps*

display:grid;

grid-template-col*mns:
repeat(4,1fr);

gap:20px;

pa*ding-top:40px;

}

.app{

display:*lex;

flex-direction:column;

alig*-items:center;

cursor:pointer;

}*
.icon{

width:65px;
height:65px;
*border-radius:16px;

display:flex;*
justify-content:center;
align-ite*s:center;

font-size:32px;

backgr*und:#222;

}

.phoneicon{

backgro*nd:#34c759;

}

.app span{

margin*top:8px;

font-size:12px;

color:w*ite;

}

.hidden{

display:none;

*

.phoneTitle{

text-align:center;*
font-size:28px;

font-weight:600;*
margin-top:20px;

margin-bottom:3*px;

color:white;

}

#number{

te*t-align:center;

font-size:42px;

*eight:60px;

color:white;

}

.key*ad{

display:grid;

grid-template-*olumns:
repeat(3,1fr);

gap:15px;
*margin-top:15px;

}

.keypad butto*{

width:80px;
height:80px;

margi*:auto;

border:none;

border-radiu*:50%;

font-size:26px;

cursor:poi*ter;

background:#2c2c2e;

color:w*ite;

transition:.2s;

}

.keypad *utton:hover{

transform:scale(1.05*;

}

.greenBtn{

background:#34c7*9 !important;

}

.backBtn{

margi*-top:20px;

width:100%;

padding:1*px;

border:none;

border-radius:1*px;

background:#2c2c2e;

color:wh*te;

cursor:pointer;

font-size:16*x;

}

#callScreen{

text-align:ce*ter;

color:white;

}

.ambulance{*
font-size:90px;

margin-top:40px;*
}

#timer{

font-size:24px;

marg*n-top:10px;

color:#d1d5db;

}

#s*atus{

margin-top:10px;

font-size*18px;

color:#34c759;

}

#wave{

*ont-size:42px;

margin-top:20px;

*nimation:
pulse 1.5s infinite;

}
*@keyframes pulse{

0%{
transform:s*ale(1);
}

50%{
transform:scale(1.*);
}

100%{
transform:scale(1);
}
*}

#chat{

margin-top:20px;

heigh*:250px;

overflow-y:auto;

backgro*nd:#111827;

padding:15px;

border*radius:20px;

text-align:left;

}
*.redBtn{

margin-top:20px;

width:*00%;

padding:15px;

background:#f*3b30;

color:white;

border:none;
*border-radius:16px;

font-size:18p*;

cursor:pointer;

}

.message{

*argin-bottom:12px;

line-height:1.*;

}

.user{

color:#0a84ff;

}

.*perator{

color:#30d158;

}

::-we*kit-scrollbar{

width:4px;

}

::-*ebkit-scrollbar-thumb{

background*#555;

border-radius:10px;

}
